li {
	list-style: none;
	margin-top: 0.25em;
}

#navbar-container {
	background-color: transparent;
	border-color: transparent;
	color: #F19F47;
}

.ingreso-usuarios {
	font-size: 1.1em;
	color: #E61483 !important;
	margin-bottom: 1em;
	padding: 1em;
}

.nombre-empresa {
	text-align: left;
	margin-top: -1em;
}