<nav class="navbar navbar-expand-lg navbar-light">
	<a class="navbar-brand" href="#" style="color: #E61483"><h3>KombiWorld Argentina</h3></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<!-- Sarasa para que quede como corresponde !-->
	</div>
	<span class="navbar-text">
		<a class="nav-link" ng-show="SiteCtl.loggedOnUser.username != ''" ui-sref="companies.home" style="color: #F19F47;"><h4>{{SiteCtl.loggedOnUser.username}}</h4></a>
		<a class="nav-link" ng-show="SiteCtl.loggedOnUser.username == ''" ui-sref="site.login" style="color: #F19F47;"><h4>Ingresar</h4></a>
    </span>
	<span class="navbar-text">
      <a class="nav-link" ui-sref="site.signin" style="color: #F19F47;"><h4>Registrá tu empresa!</h4></a>
    </span>
	<span class="navbar-text">
		<a class="nav-link" ng-show="SiteCtl.loggedOnUser.username != ''" ui-sref="companies.home" style="color: #F19F47;"><h4>Salir</h4></a>
    </span>
</nav>
<div class="container-fluid" ui-view>
</div>