<div class="container-fluid" style="color: #ffffff;">
  <nav class="navbar navbar-default" style="background-color: transparent; border-color: transparent;">
    <div class="container">
      <div class="navbar-header">
        <h1>KombiWorld</h1>
      </div>
      <div style="padding-top: 0.5em">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a style="cursor: pointer; color: white">Ingresar</a>
          </li>
          <li>
            <a style="cursor: pointer; color: white">¡Regístrarte gratis!</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li><a ui-sref="userProfile.profileData">Mis datos</a></li>
			<li><a ui-sref="userProfile.myReservations">Mis reservas</a></li>
		</ul>
	</div>
</nav>
<div class="container-fluid" ui-view></div>