<style>
.css-form input.ng-invalid.ng-touched {
	border-color: red;
}

.css-form input.ng-valid.ng-touched {
	border-color: green;
}

</style>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<form name="loginForm" class="css-form" novalidate>
			<legend>Bienvenido {{SiteCtl.loggedOnUser.username}}!</legend>
			<div class="form-group">
				<label for="usuario">Usuario</label>
				<input type="text" class="form-control input" name="usuario" id="usuario" ng-model="SiteCtl.userLogin.user.username" required>
				<div ng-show="form.$submitted || loginForm.pass.$touched">
					<span ng-show="loginForm.usuario.$error.required">Necesitamos su nombre de usuario</span>
				</div>
			</div>
			<div class="form-group">
				<label for="pass">Contraseña</label>
				<input type="password" class="form-control input" name="pass" id="pass" ng-model="SiteCtl.userLogin.user.password" required>
				<div ng-show="form.$submitted || loginForm.pass.$touched">
					<span ng-show="loginForm.pass.$error.required">Necesitamos que ingrese su contraseña</span>
				</div>
			</div>
			<div class="form-group col-md-4 col-md-offset-4">
				<button type="submit" class="btn btn-block btn-success" ng-click="SiteCtl.loginFromSite();" ng-disabled="!loginForm.$valid">Enviar</button>
			</div>
		</form>
	</div>
</div>