<div class="container-fluid">
  <div class="jumbotron" style="background-color: white;">
    <h2>Bienvenidos a una nueva forma de viajar</h2>
  </div>
  <div class="row">
    <div class="col-md-3" style="margin-left: 2em;">
      <h3>Realizá tus viajes a través de nuestra nueva aplicación mobile</h3>
      <h3>Gratis, más rápido, fácil y seguro</h3>
    </div>
  </div>
</div>
<footer style="margin-top: 4em;">
  <div class="row">
    <div class="col-md-3" style="margin-left: 2em;">
      <img src="./Resources/google-play-badge.png" height="60" width="150">
      <img src="./Resources/Download_on_the_App_Store_Badge_US-UK_135x40.svg" height="60" width="135">
    </div>
  </div>
</footer>