<style>
.css-form input.ng-invalid.ng-touched {
	border-color: red;
}

.css-form input.ng-valid.ng-touched {
	border-color: green;
}

</style>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h3>Alta de su empresa</h3>
		<form name="signInForm" class="css-form" novalidate>
			<legend>Información de la empresa</legend>
			<div class="form-group">
				<label for="cuitEmpresa">CUIT</label>
				<input type="text" class="form-control input" name="cuitEmpresa" id="cuitEmpresa" ng-model="SiteCtl.empresa.cuit" ng-pattern="SiteCtl.regExpCUIT" required>
				<div ng-show="form.$submitted || signInForm.cuitEmpresa.$touched">
					<span ng-show="signInForm.cuitEmpresa.$error.required">Necesitamos tu CUIT.</span>
					<span ng-show="signInForm.cuitEmpresa.$error.pattern">Necesitamos un CUIT válido.</span>
				</div>
			</div>
			<div class="form-group">
				<label for="razonSocialEmpresa">Razón social</label>
				<input type="text" class="form-control input" name="razonSocialEmpresa" id="razonSocialEmpresa" ng-model="SiteCtl.empresa.razonSocial" required>
				<div ng-show="form.$submitted || signInForm.razonSocialEmpresa.$touched">
					<span ng-show="signInForm.razonSocialEmpresa.$error.required">Cuál es la razón social de tu empresa?</span>
				</div>
			</div>
			<div class="form-group">
				<label for="nombreComercialEmpresa">Nombre comercial</label>
				<input type="text" class="form-control input" name="nombreComercialEmpresa" id="nombreComercialEmpresa" ng-model="SiteCtl.empresa.nombreComercial" required>
				<div ng-show="form.$submitted || signInForm.nombreComercialEmpresa.$touched">
					<span ng-show="signInForm.nombreComercialEmpresa.$error.required">Cuál es el nombre de fantasía de tu empresa?</span>
				</div>
			</div>
			<div class="form-group">
				<label for="telefonoEmpresa">Teléfono de contacto</label>
				<input type="text" class="form-control input" name="telefonoEmpresa" id="telefonoEmpresa" ng-model="SiteCtl.empresa.telefono" ng-pattern="SiteCtl.regExpTel" required>
				<div ng-show="form.$submitted || signInForm.telefonoEmpresa.$touched">
					<span ng-show="signInForm.telefonoEmpresa.$error.required">Necesitamos saber tu número de teléfono.</span>
					<span ng-show="signInForm.telefonoEmpresa.$error.pattern">Necesitamos un teléfono válido.</span>
				</div>
			</div>
			<div class="form-group">
				<label for="mailEmpresa">Mail de contacto</label>
				<input type="email" class="form-control input" name="mailEmpresa" id="mailEmpresa" ng-model="SiteCtl.empresa.mail" required>
				<div ng-show="form.$submitted || signInForm.mailEmpresa.$touched">
					<span ng-show="signInForm.mailEmpresa.$error.required">Cuál es tu correo?</span>
					<span ng-show="signInForm.mailEmpresa.$error.email">Necesitamos una dirección válida para contactarte.</span>
				</div>
			</div>
			<div class="form-group col-md-4 col-md-offset-4">
				<button type="submit" class="btn btn-block btn-success" ng-click="SiteCtl.nuevaEmpresa();" ng-disabled="!signInForm.$valid">Enviar</button>
			</div>
		</form>
	</div>
</div>