<ul id="menuUsuario" class="dropdown-content">
  <li> <a class="dropdown-item" ui-sref="companies.userProfile">Perfil</a></li>
  <li><a class="dropdown-item" ui-sref="companies.logout">Salir</a></li>
</ul>
<nav style="background-color:white">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><i class="fa fa-car" aria-hidden="true" style="color:#ee6e73"></i>
      <span style="color:#ee6e73">Kombi</span><span style="color:black">World</span>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a class="dropdown-trigger" href="#!" data-target="menuUsuario">{{CompCtl.loggedOnUser.username}}<i class="fa fa-arrow-down"></i></a>
      </li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col s2">
    <ul class="sidenav" style="margin-top: 120px;width: 15%;transform: translateX(0%);">
      <li>
        <a class="nav-link" href="#" ui-sref="companies.newticket" style="padding-right: 5px;padding-left: 15px">
          <i class="fa fa-street-view" style="margin-right: 5px"></i>Nueva reserva</a>
        </li>
        <li>
          <a class="nav-link" href="#" ui-sref="companies.routes" style="padding-right: 5px;padding-left: 15px">
           <i class="fa fa-map" style="margin-right: 5px"></i>Recorridos</a>
         </li>
         <li>
          <a class="nav-link" href="#" ui-sref="companies.stops" style="padding-right: 5px;padding-left: 15px">
           <i class="fa fa-map-marker" style="margin-right: 5px"></i>Paradas</a>
         </li>
         <li>
          <a class="nav-link" href="#" ui-sref="companies.schedule" style="padding-right: 5px;padding-left: 15px"> <i class="fa fa-clock-o" style="margin-right: 5px"></i>Horarios</a>
        </li>
        <li>
          <a class="nav-link" href="#" ui-sref="companies.availability" style="padding-right: 5px;padding-left: 15px"> <i class="fa fa-sliders" style="margin-right: 5px"></i>Disponibilidad </a>
        </li>
        <li>
          <a class="nav-link" href="#" ui-sref="companies.tickets" style="padding-right: 5px;padding-left: 15px"> <i class="fa fa-ticket" style="margin-right: 5px"></i>Pasajes</a>
        </li>
        <li>
          <a class="nav-link" href="#" ui-sref="companies.config" style="padding-right: 5px;padding-left: 15px"> <i class="fa fa-cogs" style="margin-right: 5px"></i>Configuración</a>
        </li>
      </ul>
    </div>
    <div class="col s10 offset-s2">
      <div class="container-fluid" ui-view>
      </div>
    </div>
  </div>