<div class="row">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Pasaje Nro.</th>
				<th>Empresa</th>
				<th>Origen</th>
				<th>Destino</th>
				<th>Salida</th>
				<th>Arribo</th>
				<th>Precio</th>
				<th>Cant. Pasajes</th>
				<th>Fecha y hora</th>
				<th>Ticket</th>
			</tr>
		</thead>
		<tbody style="font-size: 12px;">
			<tr>
				<td>454232</td>
				<td>Train</td>
				<td>Obelisco</td>
				<td>Country Banco Provincia</td>
				<td>18:45Hs.</td>
				<td>20:10Hs.</td>
				<td>$130.-</td>
				<td>1</td>
				<td>05/05/16 17:35:41Hs.</td>
				<td>
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
					</button>
				</td>
			</tr>			
			<tr>
				<td>422458</td>
				<td>Train</td>
				<td>Obelisco</td>
				<td>Country Banco Provincia</td>
				<td>18:45Hs.</td>
				<td>20:10Hs.</td>
				<td>$130.-</td>
				<td>1</td>
				<td>03/05/16 12:45:11Hs.</td>
				<td>
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
					</button>
				</td>
			</tr>
			<tr>
				<td>414552</td>
				<td>Train</td>
				<td>Obelisco</td>
				<td>Country Banco Provincia</td>
				<td>18:45Hs.</td>
				<td>20:10Hs.</td>
				<td>$110.-</td>
				<td>1</td>
				<td>29/04/16 10:48:55Hs.</td>
				<td>
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>