<div class="row">
	<div class="col-md-6 col-md-offset-4" style="margin-top: 1em;">
		<form>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group" style="font-size: 1.25em; color: #000000;">
						<label for="user">Usuario</label>
						<input type="text" class="form-control input" id="user" readonly>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group" style="font-size: 1.25em; color: #000000;">
						<label for="dni">DNI</label>
						<input type="text" class="form-control input" id="dni" readonly>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group" style="font-size: 1.25em; color: #000000;">
						<label for="nombre">Nombre</label>
						<input type="text" class="form-control input" id="nombre" readonly>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group" style="font-size: 1.25em; color: #000000;">
						<label for="apellido">Apellido</label>
						<input type="text" class="form-control input" id="apellido" readonly>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group" style="font-size: 1.25em; color: #000000;">
						<label for="fnac">Fecha de nacimiento</label>
						<input type="date" class="form-control input" id="fnac" readonly>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group" style="font-size: 1.25em; color: #000000;">
						<label for="tel">Teléfono</label>
						<input type="text" class="form-control input" id="tel">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group" style="font-size: 1.25em; color: #000000;">
						<label for="correo">Correo electrónico</label>
						<input type="text" class="form-control input" id="correo">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group" style="font-size: 1.25em; color: #000000;">
						<label for="pass">Contraseña</label>
						<input type="text" class="form-control input" id="pass">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group" style="font-size: 1.25em; color: #000000;">
						<label for="pass2">Repetir contraseña</label>
						<input type="text" class="form-control input" id="pass2">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-md-offset-5" style="margin-top: 2em;">
					<button type="submit" class="btn btn-success btn-block">Guardar</button>
				</div>
			</div>
		</form>
	</div>
</div>