<div class="row mx-auto"p>
	<div class="col">
		<div class="row">
			<h2>Horarios</h2>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="input-group mb-3">
					<input type="date" name="tripDateTime" ng-model="AvCtl.showTripsDate">
					<select class="custom-select" ng-options="aRoute.routeId as aRoute.name for aRoute in AvCtl.routes track by aRoute.routeId" ng-model="AvCtl.selectedRoute.routeId"></select>
					<button type="button" class="btn btn-success" ng-click="AvCtl.getRouteTripsByDate();">Buscar!</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Horario</th>
						</tr>
					</thead>
					<tbody ng-repeat="aTrip in AvCtl.trips" ng-click="AvCtl.getAvailabilityFromTripAndDate(aTrip);">
						<tr>
							<td>{{aTrip.tripDateTime}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-3">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Parada</th>
							<th scope="col">Horario</th>
							<th scope="col">Disponibilidad</th>
						</tr>
					</thead>
					<tbody ng-repeat="aStopAv in AvCtl.tripAvailability">
						<tr>
							<td>{{aStopAv.stopId}}</td>
							<td>{{aStopAv.stopDateTime}}</td>
							<td>{{aStopAv.availability}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>