<style>
.css-form input.ng-invalid.ng-touched {
	border-color: red;
}

.css-form input.ng-valid.ng-touched {
	border-color: green;
}

</style>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Mis empresas</h3>
			</div>
			<div class="panel-body">
				<div class="list-group">
					<a class="list-group-item" ng-repeat="unaEmpresa in CompCtl.loggedOnUser.empresas">
						<div ng-click="CompCtl.ingresarConEmpresa(unaEmpresa);">
							<h4 class="list-group-item-heading">{{unaEmpresa.nombre_comercial_empresa}}</h4>
							<p class="list-group-item-text">{{unaEmpresa.id_empresa}}</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>