<div class="popeye-modal-container">
	<div class="popeye-modal modal-dialog modal-dialog-centered">
		<a class="popeye-close-modal" href ng-click="$close()"></a>
		<h3>Datos del pasajero</h3>
		<div class="row">
			<div class="col-8">
				<form>
					<div class="input-group mb-2 mr-sm-2">
						<label class="sr-only" for="inlineFormInputName2">Nombre</label>
						<input type="text" class="form-control" id="inlineFormInputName2" placeholder="Nombre">
					</div>
					<div class="input-group mb-2 mr-sm-2">
						<label class="sr-only" for="inlineFormInputGroupUsername2">Apellido</label>
						<input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Apellido">
					</div>
					<div class="input-group mb-2 mr-sm-2">
						<label class="sr-only" for="inlineFormInputGroupUsername2">Teléfono</label>
						<input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Teléfono">
					</div>
					<button type="submit" class="btn btn-primary mb-2">Guardar</button>
				</form>
			</div>
		</div>
	</div>
</div>