<div class="col">
	<h1>Reservaciones</h1>
	<div class="row">
		<div class="col-8">
			<form>
				<div class="form-row">
					<div class="col-4">
						<label for="routesSelect">Recorrido</label>
						<select id="routesSelect" class="form-control custom-select" ng-options="aRoute as aRoute.name for aRoute in RsvCtl.routes track by aRoute.routeId" ng-model="RsvCtl.selectedRoute" ng-change="RsvCtl.getInitialStops(RsvCtl.selectedRoute);"></select>
					</div>
					<div class="col-1">
						<div class="form-group">
							<label for="initialStopSelect">Cantidad</label>
							<input type="number" class="form-control" id="inlineFormInputName2" placeholder="1" ng-model="RsvCtl.requestedSeatsQty">
						</div>
					</div>
					<div class="col-3">
							<label for="ticketDate">Fecha</label>
							<input type="date" class="form-control form-control-sm" id="ticketDate" ng-model="SchdCtl.showTripsDate">
					</div>
				</div>
				<div class="form-row">
					<div class="col-4">
						<div class="form-group">
							<label for="initialStopSelect">Parada inicial</label>
							<select id="initialStopSelect" class="form-control custom-select" ng-options="aStop as aStop.stopName for aStop in RsvCtl.initialStops track by aStop.stopId" ng-model="RsvCtl.selectedInitialStop" ng-change="RsvCtl.getFinalStops(RsvCtl.selectedRoute, RsvCtl.selectedInitialStop);"></select>
						</div>
					</div>
					<div class="col-4">
						<div class="form-group">
							<label for="finalStopSelect">Parada final</label>
							<select id="finalStopSelect" class="form-control custom-select" ng-options="aStop as aStop.stopName for aStop in RsvCtl.finalStops track by aStop.stopId" ng-model="RsvCtl.selectedFinalStop"></select>
						</div>
					</div>
				</div>
				<button type="save" class="btn btn-success" ng-click="RsvCtl.getTripsWithRequestedAvailability();">Buscar disponibilidad</button>
			</form>
		</div>
	</div>
 	<div class="row">
 		<h2>Viajes con asientos disponibles</h2>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Recorrido</th>
					<th scope="col">Hora</th>
					<th scope="col">Horario en parada</th>
					<th scope="col">Nuevo pasaje</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Sarasa 1</td>
					<td>Sarasa 2</td>
					<td>Sarasa 3</td>
					<td><button type="save" class="btn btn-success" ng-click="RsvCtl.showModal();">+</button></td>
				</tr>
			</tbody>
		</table>
 	</div>
</div>