<div class="row">
	<div class="col s12">
		<div class="row">
			<h2>Recorridos</h2>
		</div>
		<div class="row">
			<div class="col s6">
				<form>
					<div class="row">
						<div class="input-field col s8">
							<label for="routeName">Nombre</label>
							<input id="routeName" type="text" class="active validate" ng-model="RtsCtl.routeInput.route.name">
						</div>
						<div class="input-field col s8">
							<label for="basePricing">Tarifa base($)</label>
							<input type="text" class="active validate" id="basePricing" ng-model="RtsCtl.routeInput.route.baseRate">
						</div>
					</div>
					<div class="row">
						<a class="waves-effect waves-light btn-small" ng-click="RtsCtl.saveRoute()">Guardar</a>
						<a class="waves-effect waves-teal btn-flat" ng-click="RtsCtl.deleteRoute()" ng-show="RtsCtl.selectedRoute.route.routeId != ''">Eliminar</a>
						<a class="waves-effect waves-teal btn-flat" ng-click="RtsCtl.clearSelectedRoute()">Limpiar</a>
					</div>
				</form>
			</div>
			<div class="col s6">
				<div class="row" ng-repeat="aRoute in RtsCtl.routes">
					<div ng-click="RtsCtl.selectRoute(aRoute);">
						<div class="col">
							<h6>{{aRoute.name}} - {{aRoute.baseRate | currency:"$"}}</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>