<div class="row mx-auto">
	<div class="col-md-4 offset-md-1">
		<div class="row">
			<h2>Creación de itinerarios</h2>
		</div>
		<div class="row">
			<form>
				<div class="form-row">
					<div class="input-group mb-3">
						<select class="custom-select" ng-options="aRoute.routeId as aRoute.name for aRoute in SchdCtl.routes track by aRoute.routeId" ng-model="SchdCtl.days.schedule.routeId"></select>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-7">
						<label for="dateFrom">Desde</label>
						<input type="date" class="form-control form-control-sm" id="dateFrom" ng-model="SchdCtl.time.dateFrom">
					</div>
					<div class="form-group col-md-5">
						<label for="timeFrom">Hora</label>
						<input type="time" class="form-control form-control-sm" id="dateTo" ng-model="SchdCtl.time.timeFrom">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-7">
						<label for="dateTo">Hasta</label>
						<input type="date" class="form-control form-control-sm" id="dateFrom" ng-model="SchdCtl.time.dateTo">
					</div>
					<div class="form-group col-md-5">
						<label for="timeTo">Hora</label>
						<input type="time" class="form-control form-control-sm" id="dateTo" ng-model="SchdCtl.time.timeTo">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-7">
						<label for="freq">Frecuencia (mins)</label>
						<input type="number" class="form-control form-control-sm" id="freq" placeholder="10" ng-model="SchdCtl.days.schedule.frequency">
					</div>
				</div>
				<div class="form-row">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="mondaysCheckbox" ng-model="SchdCtl.days.schedule.onMondays" ng-true-value="1" ng-false-value="0">
						<label class="form-check-label" for="mondaysCheckbox">Lunes</label>
					</div>
				</div>
				<div class="form-row">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="tuesdaysCheckbox" ng-model="SchdCtl.days.schedule.onTuesdays" ng-true-value="1" ng-false-value="0">
						<label class="form-check-label" for="tuesdaysCheckbox">Martes</label>
					</div>
				</div>
				<div class="form-row">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="wednesdaysCheckbox" ng-model="SchdCtl.days.schedule.onWednesdays" ng-true-value="1" ng-false-value="0">
						<label class="form-check-label" for="wednesdaysCheckbox">Miércoles</label>
					</div>
				</div>
				<div class="form-row">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="thursdaysCheckbox" ng-model="SchdCtl.days.schedule.onThursdays" ng-true-value="1" ng-false-value="0">
						<label class="form-check-label" for="thursdaysCheckbox">Jueves</label>
					</div>
				</div>
				<div class="form-row">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="fridaysCheckbox" ng-model="SchdCtl.days.schedule.onFridays" ng-true-value="1" ng-false-value="0">
						<label class="form-check-label" for="fridaysCheckbox">Viernes</label>
					</div>
				</div>
				<div class="form-row">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="saturdaysCheckbox" ng-model="SchdCtl.days.schedule.onSaturdays" ng-true-value="1" ng-false-value="0">
						<label class="form-check-label" for="saturdaysCheckbox">Sábado</label>
					</div>
				</div>
				<div class="form-row">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="sundaysCheckbox" ng-model="SchdCtl.days.schedule.onSundays" ng-true-value="1" ng-false-value="0">
						<label class="form-check-label" for="sundaysCheckbox">Domingo</label>
					</div>
				</div>
			</form>
		</div>
		<button type="button" class="btn-sm btn-primary" ng-click="SchdCtl.generateTrips();">Generar horarios</button>
		<button type="button" class="btn-sm btn-light" ng-click="SchdCtl.clearTripInfo();">Limpiar</button>
	</div>
	<div class="col-md-6">
		<div class="row">
			<h2>Horarios</h2>
		</div>
		<div class="row">
			<div class="col-md-6">
				<form class="form-inline">
					<button type="button" class="btn-sm btn-primary" ng-click="SchdCtl.dateBefore();"><</button>
					<input type="date" class="form-control form-control-sm" id="showTripsDate" ng-model="SchdCtl.showTripsDate">
					<button type="button" class="btn-sm btn-primary" ng-click="SchdCtl.dateAfter();">></button>
				</form>
			</div>
		</div>
		<div class="row">
			<table class="table">
				<thead class="thead-dark">
				<tr>
				  <th scope="col">Recorrido</th>
				  <th scope="col">Salida</th>
				</tr>
				</thead>
				<tbody>
					<tr ng-repeat="aTrip in SchdCtl.trips">
					  <td>{{aTrip.routeId}}</td>
					  <td>{{aTrip.tripDateTime}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>