<div class="row">
	<div class="col s12">
		<div class="row">
			<h2>Recorridos</h2>
			<p>ACA FALTA AGREGAR EL COMBO PARA SELECCIONAR EL RECORRIDO</p>
		</div>
		<div class="row">
			<h2>Paradas</h2>
		</div>
		<div class="row">
			<div class="col s6">
				<form>
					<div class="input-field col s8">
						<label for="stopName">Nombre</label>
						<input type="text" class="active validate" id="stopName" ng-model="StpCtl.stopInput.stop.stopName">
					</div>
					<div class="input-field col s8">
						<label for="stopAddress">Dirección</label>
						<input type="text" class="active validate" id="stopAddress" ng-model="StpCtl.stopInput.stop.stopAddress">
					</div>
					<div class="input-field col s8">
						<label for="adicTime">Tiempo adicional</label>
						<input type="text" class="active validate" id="adicTime" ng-model="StpCtl.stopInput.stop.stopElapsedTime">
					</div>
					<div class="input-field col s8">
						<label for="adicPrice">Tarifa adicional($)</label>
						<input type="text" class="active validate" id="adicPrice" ng-model="StpCtl.stopInput.stop.stopAdditionalFee">
					</div>
				</form>
			</div>
			<div class="col s6">
				<p>ACA ABAJO SE MOSTRARIA LA LISTA DE PARADAS</p>
				<div class="row" ng-repeat="aStop in StpCtl.stops">
					<div ng-click="StpCtl.selectStop(aStop);">
						<div class="col">
							<h6>{{aStop.stopName}} - {{aStop.stopAddress}}</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>