<div class="col-md-12">
	<h1>Reservaciones</h1>
	<div class="row">
		<div class="col-md-3 col-md-offset-2">
			<h3>Datos del pasajero</h3>
			<div class="form-group row">
				<label for="example-text-input" class="col-md-2 col-form-label">DNI</label>
				<div class="col-md-8">
					<input class="form-control" type="search" id="example-text-input">
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</button>
				</div>
			</div>
			<div class="form-group row">
				<label for="example-search-input" class="col-md-2 col-form-label">Nombre</label>
				<div class="col-md-10">
					<input class="form-control" type="search" id="example-search-input">
				</div>
			</div>
			<div class="form-group row">
				<label for="example-email-input" class="col-md-2 col-form-label">Apellido</label>
				<div class="col-md-10">
					<input class="form-control" type="email" id="example-email-input">
				</div>
			</div>
			<div class="form-group row">
				<label for="example-url-input" class="col-md-2 col-form-label">Mail</label>
				<div class="col-md-10">
					<input class="form-control" type="url" id="example-url-input">
				</div>
			</div>
			<div class="form-group row">
				<label for="example-tel-input" class="col-md-2 col-form-label">Teléfono</label>
				<div class="col-md-10">
					<input class="form-control" type="tel" id="example-tel-input">
				</div>
			</div>
			<div class="form-group row">
				<label for="example-date-input" class="col-md-2 col-form-label">Fecha de nacimiento</label>
				<div class="col-md-10">
					<input class="form-control" type="date" id="example-date-input">
				</div>
			</div>
		</div>
		<div class="col-md-3 col-md-offset-1">
			<h3>Datos de la reserva</h3>
			<div class="form-group row">
				<label for="example-date-input" class="col-md-2 col-form-label">Fecha</label>
				<div class="col-md-10">
					<input class="form-control" type="date" value="1988-06-03" id="example-date-input">
				</div>
			</div>
			<div class="form-group">
				<label for="exampleSelect1">Recorrido</label>
				<select class="form-control" id="exampleSelect1">
					<option>Obelisco - Moreno</option>
					<option>Moreno - Obelisco</option>
					<option>Gral. Rodríguez - Puerto Madero</option>
					<option>Puerto Madero - Gral. Rodríguez</option>
				</select>
			</div>
			<div class="form-group row">
				<label for="example-search-input" class="col-md-2 col-form-label">Parada inicial</label>
				<div class="col-md-10">
					<input class="form-control" type="search" id="example-search-input">
				</div>
			</div>
			<div class="form-group row">
				<label for="example-search-input" class="col-md-2 col-form-label">Parada final</label>
				<div class="col-md-10">
					<input class="form-control" type="search" id="example-search-input">
				</div>
			</div>
			<div class="form-group row">
				<label for="example-time-input" class="col-md-2 col-form-label">Horario</label>
				<div class="col-md-10">
					<input class="form-control" type="time" id="example-time-input">
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-4 col-md-offset-8">
					<button type="save" class="btn btn-success btn-block">Guardar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top: 2em;">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Reservas activas del pasajero</div>
				<table class="table table-hover">
					<tr>
						<th>DNI</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Origen</th>
						<th>Destino</th>
						<th>Fecha & hora</th>
						<th>Precio pasaje</th>
					</tr>
					<tr>
						<td>33857068</td>
						<td>Alan</td>
						<td>Nevot</td>
						<td>Obelisco</td>
						<td>Suipacha</td>
						<td>25 de Agosto de 2016 15:00Hs.</td>
						<td>$180.-</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>